/* =======================
   UNIVERSAL
======================= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* =======================
   BODY
======================= */
body {
    background: #919191;
    background: linear-gradient(180deg,rgba(145, 145, 145, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(105, 0, 0, 1) 100%);
    
    color: #f5f5f5;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, li {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1rem;

    color: #D10A0A;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: #D10A0A;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: #D10A0A;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: #C42727;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #D64040;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

li {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color: #D10A0A;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* =======================
   NAV BAR
======================= */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav h2 {
    padding-left: 1rem;
}

/* =======================
   HEADER
======================= */
header {
    background: url("images/Phrolova_header.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;

    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

header > * {
    position: relative;
    z-index: 2;
}

.stars {
    color: #FFD754;
    font-size: 2rem;
}

/* =======================
   ABOUT / ABILITIES / VOICELINES / FOOTER
======================= */
.about,
.abilities,
.gallery,
.voicelines,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

/* Images */
.about-image,
.abilities-image {
    width: 400px;
}

/* About & Abilities Containers */
.about-cc,
.abilities-cc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

/* =======================
   GALLERY
======================= */
.gallery-cc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    margin-top: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* =======================
   VOICELINES
======================= */
.voicelines-cc {
    margin-top: 1rem;
}

/* =======================
   FOOTER
======================= */
.footer-cc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.footer-copy {
    margin-top: 1rem;
}