* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* NAV BAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;

    list-style: none;
}


/* HEADER */
header {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 0.5rem;
}