/* =======================
   UNIVERSAL
======================= */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* =======================
   BODY
======================= */
body {
    background: #919191;
    background: linear-gradient(180deg,rgba(145, 145, 145, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(105, 0, 0, 1) 100%);
    
    color: #f5f5f5;
    font-family: 'Lora', serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

/* =======================
   NAV BAR
======================= */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

/* =======================
   HEADER
======================= */
header {
    background: url("images/Phrolova_header.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;

    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

header > * {
    position: relative;
    z-index: 2;
}

/* =======================
   ABOUT / ABILITIES / VOICELINES / FOOTER
======================= */
.about,
.abilities,
.gallery,
.voicelines,
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

/* Images */
.about-image,
.abilities-image {
    width: 400px;
}

/* About & Abilities Containers */
.about-cc,
.abilities-cc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
}

/* =======================
   GALLERY
======================= */
.gallery-cc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    margin-top: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* =======================
   VOICELINES
======================= */
.voicelines-cc {
    margin-top: 1rem;
}

/* =======================
   FOOTER
======================= */
.footer-cc {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
}

.footer-copy {
    margin-top: 1rem;
}