/* =======================
   UNIVERSAL
======================= */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =======================
   BODY
======================= */
body {
    font-family: 'Lora', serif;
    color: #f5f5f5;
    background: linear-gradient(180deg, rgb(145, 145, 145) 0%, rgba(0,0,0,1) 50%, rgba(105,0,0,1) 100%);
}

/* =======================
   HEADINGS
======================= */
h1, h2 { font-family: 'Cinzel', serif; }
h3, h4 { font-family: 'Cormorant Garamond', serif; }

h1 { font-size: 3rem; font-weight: 700; color: #BA0021; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); }
h2 { font-size: 2rem; font-weight: 700; color: #BA0021; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); }
h3 { font-size: 1.5rem; font-weight: 600; color: #BA0021; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); }
h4 { font-size: 1.2rem; font-weight: 600; color: white; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); }

p, li { font-size: 1rem; color: #919191; text-shadow: 1px 1px 2px rgba(0,0,0,0.5); }
li { font-weight: 700; }

/* =======================
   AUDIO BUTTON
======================= */
#bg-audio { display: none; }

#audio-overlay {
    position: fixed;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    z-index: 1000;
}

#audio-overlay button {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    padding: 1rem 0.5rem;
    border-radius: 20px;
    border: 1px solid #D10A0A;
    background: black;
    color: #D10A0A;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
}

#audio-overlay button:hover {
    background: #D10A0A;
    color: black;
    border: 1px solid black;
}

/* =======================
   FALLING LEAVES
======================= */
#leaf-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 500;
}

/* =======================
   NAVIGATION
======================= */
nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    z-index: 1000;
}

nav ul { display: flex; gap: 1rem; list-style: none; }

/* =======================
   HEADER
======================= */
header {
    height: 100vh;
    background: url("images/Phrolova_header.jpg") center/cover no-repeat;
    border-bottom: 2.5px solid #D10A0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

header > * { position: relative; z-index: 2; }

.header-buttons { display: flex; gap: 0.75rem; margin: 0.5rem 0; }
.header-buttons button {
    min-width: 140px;
    padding: 0.6rem 1.2rem;
    border-radius: 999px;
    border: 1px solid #D10A0A;
    background: transparent;
    color: #D10A0A;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    font-size: 1.1rem;
    transition: all 0.2s ease;
}
.header-buttons button:hover { background: black;}

.discover {
    padding: 1.5rem 2rem;
    border-radius: 20px;
    border: 2px solid #D10A0A;
    background-color: black;
    color: #D10A0A;
    font-family: 'Cinzel', serif;
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    transition: all 0.2s ease;
}
.discover:hover { color: black; border-color: black; background-color: #D10A0A; }

header .stars {
    color: #FFD754;
}

/* =======================
   SECTIONS (ABOUT / ABILITIES / GALLERY / VOICELINES)
======================= */
.about, .abilities, .gallery, .voicelines, footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: fit-content;
}

.about-image, .abilities-image { width: 100%; }
.about-cc, .abilities-cc { display: flex; justify-content: center; align-items: flex-start; gap: 1rem; margin-top: 1rem; padding-bottom: 60px; }
.gallery-cc { display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; gap: 0.5rem; margin-top: 1rem; }
.gallery img { width: 100%; height: auto; object-fit: cover; }

/* =======================
   SECTION (ABOUT)
======================= */
.about {
    gap: 1rem;
    border-bottom: 2.5px solid #D10A0A;
}

.about h2 {
    font-size: 3rem;
}

.about-ic {
    width: 50%;
}

.about-image {
    display: block;
    margin: 0 auto;

    border-bottom: 0.2rem solid #D10A0A;
    border-radius: 3rem;
}

.about-tc {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.about-tc div {
    border-bottom: 0.2rem solid #D10A0A;
    border-radius: 2rem;
    background-color: black;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 10px 50px;
}

.about-tc-content {
}

/* FOOTER */
.footer-cc { display: flex; align-items: center; gap: 0.5rem; text-align: center; }
.footer-copy { margin-top: 1rem; }